NODE_ENV=test
RATE_LIMIT_ENABLED=false

# @localhost if you run tests in your terminal
DATABASE_URL=postgresql://postgres:postgresPass@localhost:5433/mydb_test

PORT=5000

REGISTER_KEY=register_key

# For Open Library api
CONTACT_EMAIL=your_mail

JWT_KEY_SECRET=replace_me_with_a_long_random_secret
JWT_REFRESH_SECRET=very_top_secret_secret_secret
API_KEY_SECRET=replace_me_with_a_long_random_secret

# For demo user seeding
LASTFM_API_KEY=your_lastfm_api_key

DEMO_USER_PASSWORD=Cool_pass_that_has_special_chars!_and_numbers123_and_upperCASE
SYSTEM_USER_PASSWORD=Cooler_pass_that_has_special_chars!_and_numbers123_upperCASE

POSTGRES_DB=mydb
POSTGRES_USER=postgresUser
POSTGRES_PASSWORD=postgresUserCooPass
